/**
 * @file
 * Generic styles for the friend table.
 */

table.friendTable {
  border-width: 5px;
  border-color: #666666;
  border-collapse: collapse;
}
.friendTable td {
  padding: 10px 20px;
}

.friendTable td ul {
  list-style-type: none;
  padding: 10px 0 0 10px;
}
