<table class='friendTable'>
<tr>
<td>
<b>{{ 'Friend Requests' |t }}</b>
</td>
<td>
<b>{{ 'Friends' |t }}</b>
</td>
</tr>
<tr>
<td class='friendTable'>
<ul>
{% set myCounter = 0 %}
{% for friend_request in friend_requests %}
  <li><a href="{{ path('entity.user.canonical', {'user': friend_request.uid.value}) }}">{{ friend_request.name.value }}</a> {{ friends_requests_links[myCounter] }}</li>
  {% set myCounter = myCounter + 1 %}
{% endfor %}
</ul>
</td>
<td class='friendTable'>
<ul>
{% set myCounter = 0 %}
{% for friend in friends %}
<li><a href="{{ path('entity.user.canonical', {'user': friend.uid.value}) }}">{{ friend.name.value }}</a>  {{ friends_links[myCounter] }}</li>
{% set myCounter = myCounter + 1 %}
{% endfor %}
</ul>
</td>
</tr>
</table>
